.form-group{
  margin-bottom: 15px;
  width: 100%;
}

span{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input{
  height: 40px;
  width: 96%;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 15px;
  border-bottom-width: 1px;
  transition: all 0.3 ease;
}

.form-group input:focus,
.form-group input:valid{
  border-color:dodgerblue;
}
