table {
  width: 50%;
  margin-top: 15px;
}
th {
  width: 20%;
}
.pointer {
  cursor: pointer;
}
.search {
  color: brown;
}
.edit {
  color: crimson;
}
.delete {
  color: chocolate;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}
