

.container{
    text-align: center;
    height: 130%;
    width: 70%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    color: aliceblue;
    
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    
}

table{
    margin: 5px;
    
}

.separacion{
    margin: 15px;
}

.flex{
    display: flex;
}