.contenedor{
width: 97%;
padding: 2%;
background-color: blueviolet;
}
.mat-mdc-form-field {
    font-size: 14px;
    width: 31%;
  }
  .mat-mdc-table {
    width: 100%;
    max-height: 350px;
    overflow: auto;
  }
  
  .mat-column-name {
    height: 75px;
  }
  