<details>
    <summary>
        <img src="" alt="">
        <div class="accordion-text">
            <span>Restaurant</span>
            <p> 15 nov 2024</p>
        </div>

        <img src="" alt="">
    </summary>
    <p>TEXTO XD</p>
</details>
<details>
    <summary>
        <img src="" alt="">
        <div class="accordion-text">
            <span>Restaurant</span>
            <p> 15 nov 2024</p>
        </div>

        <img src="" alt="">
    </summary>
</details>
<details>
    <summary>
        <img src="" alt="">
        <div class="accordion-text">
            <span>Restaurant</span>
            <p> 15 nov 2024</p>
        </div>

        <div class="accordion-icon">
            <img src="" alt="">
        </div>
    </summary>
</details>

<details>
    <summary>
        <img src="" alt="">
        <div class="accordion-text">
            <span>Restaurant</span>
            <p> 15 nov 2024</p>
        </div>

        <div class="accordion-icon">
            <img src="" alt="">
        </div>
    </summary>
</details>
